    <div class="device-header">%.value% %.object_description% %.counter%</div>
<svg id="%.object_title%%.object_id%%.linkedRoom%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 4" height="50" width="50" version="1.1">
 <rect rx="1.5" ry="1.5" height="100%" width="100%" y="0" x="0" fill="#14303b" fill-opacity=".8" stroke='%.alive|"red;#ab773b;"%' stroke-width='%.alive|"2;0.1"%' stroke-opacity=".1"/>
 <circle id="icon%.object_id%_light" cx="2" cy="50%" r="1" fill='%.status|"grey;#da7823;"%' fill-opacity="1" stroke="#da7823" stroke-width=".1"/>
</svg>
